@font-face {
    font-family: 'Bounded-Regular';
    src: url('path_to_bounded_regular.woff') format('woff');
}

body {
    font-family: 'Bounded-Regular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #1f1f1f;
}

.logo {
    width: 250px; /* Увеличение размера логотипа */
}

.slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

.slider-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider-container .slide {
    min-width: 100%;
}

.slider-container:hover .slide {
    transform: scale(1.05);
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    }
